body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1, h2 {
  text-align: center;
  color: #481462;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid #7451a9;
}

.tab-button {
  flex: 1;
  padding: 15px;
  background: #7451a9;
  color: #fff;
  border: none;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  transition: background 0.3s;
  margin: 0 5px;
}

.tab-button.active {
  background: #481462;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content.active {
  display: block;
}

.inputs, .results, .table-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  position: relative;
}

input[type="number"] {
  width: calc(100% - 1px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #481462;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #7451a9;
}

.results p {
  font-size: 18px;
  margin: 10px 0;
}

.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0 -15px; /* Optional: Adjust as needed */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px;
  margin: 0 5px;
  background: #7451a9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* @media (max-width: 600px) {
  .container {
      width: 100%;
  }
  
  table {
      font-size: 14px;
  }
} */



.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .chart-container {
    flex-direction: row;
  }
}

canvas {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

/* Example specific to Islamic calculator */
#chartContainerIslamic {
  margin-top: 20px;
}



.fade-in {
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn01 0.5s ease-out;
}

@keyframes slideIn01 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}


.tab-button {
  transition: background 0.3s, color 0.3s;
}

.input-container input,
.results p,
button {
  transition: all 0.3s ease;
}

.input-container input:focus {
  border-color: #7451a9;
  box-shadow: 0 0 5px rgba(116, 81, 169, 0.5);
}

button {
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #7451a9;
  transform: scale(1.05);
}


.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 57%;
  transform: translateY(-50%);
  color: #7451a9;
}

.input-container input {
  padding-left: 40px;
}


.hidden {
  display: none;
}

/* Back to Top Button */
#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #481462; /* Change to your app's color */
  color: white;
  padding: 10px;
  border-radius: 50%;
  display: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
  z-index: 1000;
}

#backToTop i {
  font-size: 20px;
}

/* Hover Animation */
#backToTop:hover {
  transform: scale(1.2);
  background-color: #7451a9; /* Slightly darker shade */
}

/* Scroll Animation */
@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Show Button when Scrolling */
#backToTop.show {
  display: block;
  animation: fadeInUp 0.5s;
}


.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .chart-container {
      flex-direction: row;
  }
}

canvas {
  /* margin: 20px; */
  max-width: 100%;
  height: auto;
}


/* Error messages */
.error-message {
  position: absolute;
  color: red;
  font-size: 0.875em;
  bottom: -20px; /* Adjust this value based on your layout */
  left: 0;
  display: block;
  animation: slideIn 0.5s ease-out;
}




@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}